.shoeswrap__el{
    margin-top: 20px;
    display: inline-block;
    margin-right: 200px;
}

.shoeswrap__el:nth-child(3){
    margin-right: 0px;
}

.el__image{
    width: 300px;
    height: 300px;
}

.el__name{
    text-align: center;
}

.el__price{
    text-align: center;
}