.shoeswrap__el{
    margin-top: 20px;
    display: inline-block;
    margin-right: 200px;
}

.el__image{
    width: 300px;
    height: 300px;
}

.el__name{
    text-align: center;
}

.el__price{
    text-align: center;
}

.el__submenu{
    left: 50%;
    right: 50%;
}