.logowrap{
    text-align: center;
    margin-bottom: 20px;
}

.logowrap__logo{
    width: 300px;
    height: 190px;
}

.shoeswrap{
    margin-right: 10px;
    margin-bottom: 40px;
}

.morewrap{
    display: block;
    text-align: center;
}